<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Make: {{car.make}} </h1>
    Model: {{car.model}}


    <div class="">
      <a href="/cars/{{car._id}}/edit">Edit</a>
      <a href="/cars/{{car._id}}/delete">Delete</a>
    </div>
  </body>
</html>
